.contest-invite-page main{
    width: 100%;
    min-height: 750px;
    margin: auto 43px;
}

.contest-invite-page .card-box{
    position: relative;
    max-width: 143px;
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    min-height: 100%;
}
.contest-invite-page h5{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}
.contest-invite-page .card-box p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    margin-top: 8px;
    margin-bottom: 5px;
}
.contest-invite-page button{
    background: #FFFFFF;
    border: 0.5px solid #2278B8;
    box-sizing: border-box;
    border-radius: 15px;
    max-width: 327px;
    width: 100%;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #1F7CBA;
}
